@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 40 79% 99%;
  --foreground: 222 47 11%;

  --muted: 214 32% 91%;
  --muted-foreground: 215 16% 47%;

  --border: 0 0% 89%;

  --secondary: 0 0% 97%;

  --info: 212 100% 97%;
  --info-foreground: 224 77% 48%;

  --success: 141 78% 96%;
  --success-foreground: 143 64% 24%;

  --error: 355 87% 97%;
  --error-foreground: 0 70% 35%;

  --warning: 55 92% 95%;
  --warning-foreground: 35 92% 33%;

  --destructive: 0 72% 51%;

  --logo: 0 0% 93%;

  --link: 224 88% 49%;

  --kafeasist: 233 59% 29%;
  --kafeasist-foreground: 0 0% 100%;
}

[data-theme="dark"] {
  --background: 0 0% 8%;
  --foreground: 0 0% 93%;

  --muted: 0 0% 27%;
  --muted-foreground: 215 0% 62%;

  --border: 0 0% 23%;

  --secondary: 0 0% 13%;

  --info: 223 99% 10%;
  --info-foreground: 245 100% 86%;

  /*
	TODO: Add dark mode colors
  --success: 141 78% 96%;
  --success-foreground: 143 64% 24%;
  */

  --error: 355 100% 12%;
  --error-foreground: 0 100% 84%;

  --warning: 55 100% 7%;
  --warning-foreground: 35 84% 73%;

  --destructive: 0 91% 71%;

  --logo: 0 0% 93%;

  --link: 224 100% 78%;

  --kafeasist: 233 59% 29%;
  --kafeasist-foreground: 0 0% 100%;
}
