# @link https://docs.expo.dev/guides/monorepos/#common-issues
node-linker=hoisted

public-hoist-pattern[]=*prisma*

# @link https://pnpm.io/npmrc#prefer-workspace-packages
save-workspace-protocol=false
prefer-workspace-packages=true